.app{
    display: flex;
    height: 100vh;
}

.contactos{
    width: 25%;
    background-color: #fff;
    padding: 10px;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.usuarioactual {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom:  1px solid #eee;
    gap: 10px;
    padding-bottom: 10px;
}
.usuarioactual img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.usuarioactual .info{
    flex: 1;
}
.usuarioactual .info p{
    font-size: 10px;
    color: gray;
    margin: 0;
}

.nuevochat{
    margin: 15px 0;
    display: flex;
    justify-content: center;
}


.chatprincipal{
    display: flex;
    width: 75%;
    background-color: azure;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.chatprincipal h2{
    font-size: 26px;
    margin: 10px 0;
}
.chatprincipal p{
    max-width: 400px;
    font-size: 14px;
    line-height: 1.5;
}
.chatprincipal img {
    border-radius: 12px;
}